
body{
  background-color : #DCEBFF;
  align-items: center;
  text-align:center;
  font-size:medium
}

.title{
  font-size:100px;
  color:rgb(131, 125, 46)
}

.textbox{
  width: 250px;
  height:45px;
  font-size: large;
  text-align:center;
  
}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid rgb(60, 109, 243);
  border-radius: 3px;
  color:  rgb(60, 109, 243);
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0.8em auto;
  padding: 2em 4em;
  position: relative;
  text-transform: uppercase;
  
}
button::before,
button::after {
  background: rgb(213, 248, 208);
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #005f28;
}


/* BUTTON 3 */
.btn-1::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-1:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* BUTTON 4 */
.btn-2::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-2::after {
  background: #DCEBFF;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-2:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}